extends layout

block content
  h1= title
  p Welcome to #{title}

  .timer
    span#timerdisplay

  input#stoptimer(type="button" value="done!")
  br
  br

  .info

  script(src="javascripts/main.js")
